main {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div {
        margin-left: 10px;
    }
}

